<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link
      href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <%- include ('../partials/header') %>
      <form action="/blogs/edit/<%= blog._id %>?_method=PUT " method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= blog.title %> "
          />
        </div>
        <div class="mb-3">
          <label for="snippet" class="form-label">Snippet</label>
          <input
            type="text"
            value="<%= blog.snippet %> "
            class="form-control"
            id="snippet"
            name="snippet"
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3">
<%= blog.title %> </textarea
          >
        </div>
        <div>
          <a
            href="/blogs/read/<%= blog._id %> "
            class="btn btn-lg btn-secondary mb-3"
            type="button"
          >
            Cancel
          </a>
          <button class="btn btn-lg btn-primary mb-3" type="submit">Save</button>
        </div>
      </form>
    </div>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"
    ></script>

    <!-- Initialize the editor. -->
    <script>
      new FroalaEditor("textarea");
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
